footer.page-footer
  .page-footer__content
    .container
      .page-footer__content-wrap
        .page-footer__about
          a.page-footer__logo.logo(href='#')
            img(src="img/logo.png", alt="Logo")
            sapn.logo__text Waxom
          p.page-footer__about-desc Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed.
            diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat. volutpat. Ut.
            wisi enim ad minim veniam, quis nostrud exerci suscipit lobortis claritatem.
          sapn.page-footer__more Read More
        .page-footer__recent-posts
          h2.page-footer__title Recent Posts
          ul.page-footer__recent-posts-list
            li.page-footer__recent-posts-item
              span.page-footer__recent-posts-date September 08, 2015
              p.page-footer__recent-posts-text Lorem ipsum dolor sit amet, consectetuer adipiscing elit
            li.page-footer__recent-posts-item
              span.page-footer__recent-posts-date September 08, 2015
              p.page-footer__recent-posts-text Diam nonummy nibh euismod tincidunt ut laoreet dolore magna
            li.page-footer__recent-posts-item
              span.page-footer__recent-posts-date September 08, 2015
              p.page-footer__recent-posts-text Claritas est etiam processus dynamicus, qui.
                sequitur mutationem per seacula quarta decima
        .page-footer__our-twitter
          h2.page-footer__title Our Twitter
          ul.page-footer__our-twitter-list
            li.page-footer__our-twitter-item
              p.page-footer__our-twitter-text
                |
                span @waxom 
                | Cum soluta nobis eleifend option congue nihil imperdiet
              span.page-footer__our-twitter-time 3 mins ago
            li.page-footer__our-twitter-item
              p.page-footer__our-twitter-text
                | Mirum est 
                span #envato 
                | notare quam littera gothica, quam nunc putamus parum anteposuerit litterarum
              span.page-footer__our-twitter-time 5 hours ago
            li.page-footer__our-twitter-item
              p.page-footer__our-twitter-text
                | Soluta nobis option 
                span.page-footer__our-twitter-text-decor bit.ly/1Hniso7
                |
              span.page-footer__our-twitter-time 20 days ago
        .page-footer__widget
          h2.page-footer__title Dribbble Widget
          ul.page-footer__widget-list
            li.page-footer__widget-item
              img(src="img/widget-1.png", alt="Widget").page-footer__widget-item-pic
            li.page-footer__widget-item
              img(src="img/widget-2.png", alt="Widget").page-footer__widget-item-pic
            li.page-footer__widget-item
              img(src="img/widget-3.png", alt="Widget").page-footer__widget-item-pic
            li.page-footer__widget-item
              img(src="img/widget-4.png", alt="Widget").page-footer__widget-item-pic
  .page-footer__copyright
    .container
      .page-footer__copyright-content
        ul.page-footer__copyright-list
          li.page-footer__copyright-item Copyright © 2015 
            span Waxom 
            |
          li.page-footer__copyright-item Privacy Policy
          li.page-footer__copyright-item FAQ
          li.page-footer__copyright-item Support
        ul.page-footer__copyright-list
          li.page-footer__copyright-item Designed by 
            span ThemeFire 
            |
          li.page-footer__copyright-item Only on 
            span Envato Market 
            |