section.partners
  .container
    ul.partners__list
      li.partners__item
        img(src="img/partners-1.png", alt="Partners").partners_pic
      li.partners__item
        img(src="img/partners-2.png", alt="Partners").partners_pic
      li.partners__item
        img(src="img/partners-3.png", alt="Partners").partners_pic
      li.partners__item
        img(src="img/partners-4.png", alt="Partners").partners_pic
