section.posts
  .container
    h2.posts__title Recent Posts.
    p.posts__desc Investigationes demonstraverunt lectores legere me lius.
      quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
    ul.posts__list
      li.posts__item
        .posts__item-wrap
          img(src="img/posts-1.png", alt="Posts 1").posts__pic
          .posts__item-days
            .posts__date
              span.posts__day 30
              span.posts__month Sep.
        .posts__item-text-wrap
          h5.posts__item-title Lorem ipsum dolor sit amet
          p.posts__item-desc Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
          sapn.posts__more Read More
      li.posts__item
        .posts__item-wrap
          img(src="img/posts-2.png", alt="Posts 1").posts__pic
          .posts__item-days
            .posts__date
              span.posts__day 30
              span.posts__month Sep.
        .posts__item-text-wrap
          h5.posts__item-title Lorem ipsum dolor sit amet
          p.posts__item-desc Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
          sapn.posts__more Read More
      li.posts__item
        .posts__item-wrap
          img(src="img/posts-3.png", alt="Posts 1").posts__pic
          .posts__item-days
            .posts__date
              span.posts__day 30
              span.posts__month Sep.
        .posts__item-text-wrap
          h5.posts__item-title Lorem ipsum dolor sit amet
          p.posts__item-desc Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
          sapn.posts__more Read More