section.theme
  .container
    h2.theme__title Waxom is Realization of your Ideas.
    p.theme__desc Investigationes demonstraverunt lectores.
      legere me lius quod ii legunt saepius. Claritas est.
      etiam processus dynamicus, qui sequitur mutationem consuetudium.
    img(src="img/theme.jpg", alt="Theme").theme__pic
  .theme__boxes
    .container
      .theme__boxes-content
        .theme__boxes-text
          h3.theme__boxes-title
            | 
            span Waxom
            |  Multipurpose WordPress Theme
          p.theme__boxes-desc Don't Forget to Rate the Template. Thanks so much!
        button.button.theme__button Purchase Now
